AssimpConversion/AssimpConversion/assets/
AssimpConversion/x64/Debug/assimp-vc140-mtd.dll
AssimpConversion/AssimpConversion/assimp/
AssimpConversion/AssimpConversion/x64/
AssimpConversion/x64/
AssimpConversion/AssimpConversion/assimp-vc140-mtd.dll
